<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/MeusProdutosFazendeiro.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <title>AgroLink</title>
</head>

<body>
    <%- include('partials/header') %>

    <section id="infoCima">
        <div class="cima">
            <div class="titulo">
                <h1>Meus Produtos</h1>
                <p>2 itens cadastrados</p>
            </div>
            <div class="inputs">
                <div style="width: 56%;" id="inputComIcon" class="entrada">
                    <input type="text" placeholder="Pesquisa" id="pesquisa">
                    <img src="img/lupaIcon.png" alt="" id="img1">
                </div>
                <div class="dupla">
                    <div class="inputt" class="entrada">
                        <select name="categoria" id="categoria">
                            <option value="">Categoria</option>
                            <option value="Gr達os">Gr達os</option>
                            <option value="Legumes">Legumes</option>
                            <option value="Frutas">Frutas</option>
                            <option value="Carne">Carne</option>
                        </select>
                    </div>
                    <div id="Continerfiltro" class="entrada">
                        <input type="text" placeholder="Filtrar" id="filtro">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                          </svg>
                    </div>
                </div>
            </div>


        </div>
    </section>



    <div id="conteinerAdicionar">
        <section id="adicionarItens">
            <div id="conteinerFechar">
                <div id="titAddItem">
                    <p>Adicionar Produto</p>
                </div>
                <button id="fecharADDItem" onclick="AbrirAddItem(0)">X</button>
            </div>
            <div class="dois">
                <div>
                    <label for="nome">Nome:</label>
                    <input type="text" name="nome" id="nome">
                </div>
                <div>
                    <label for="peso">Peso:</label>
                    <input type="number" name="peso" id="peso" required>
                </div>
                <div>
                    <label for="categoria2">Categoria:</label>
                    <select name="categoria2" id="categoria2" required>
                        <option value="" selected disabled></option>
                        <option value="Gr達os">Gr達os</option>
                        <option value="Legumes">Legumes</option>
                        <option value="Frutas">Frutas</option>
                        <option value="Carne">Carne</option>
                    </select>
                </div>
            </div>

            <div class="dois">
                <div>
                    <label for="">Quantidade:</label>
                    <input type="number" name="quantidade" id="quantidade">
                </div>
                <div>
                    <label for="">Valor:</label>
                    <input type="number" name="valor2" id="valor2">
                </div>
            </div>

            <div id="contenierBtn">
                <button class="adcProdButton">Adicionar</button>
            </div>
            
        </section>

    </div>

    <section class="produtos">
        <div class="tabela">
            <table>
                <thead>
                    <tr>
                        <th class="nome"></th>
                        <th class="anula">Peso</th>
                        <th class="anula">Categoria</th>
                        <th>Quantidade</th>
                        <th>Vendidos</th>
                        <th>Valor</th>
                        <th>Excluir</th>
                    </tr>
                </thead>

                <tbody>

                    <% produto.forEach(function(produto){%>

                        
                    <tr>
                        <td>
                            <div class="imgtit"><img src="/uploads/<%= produto.imagem %>" alt="<%= produto.nome_produto %>" />
                                <p><%= produto.nome_produto %>
                                    Fazenda Laje Grande - saca</p>
                            </div>
                        </td>
                        <td class="anula"><%=produto.peso %>kg</td>
                        <td class="anula"><%=produto.categoria_atual %></td>
                        <td><%=produto.quantidade%></td>
                        <td>3</td>
                        <td id="valor">R$<%= produto.valor %></td>

                        <td class="delet">
                            <form action="/Deletar_Produto/<%= produto.id_produto %>" method="get">
                            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="white" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                        </svg>
                    </form>
                    </td>
                    </tr>
                    <% })%>
                </tbody>
            </table>
        </div>

    </section>
    <script src="js/itens.js"></script>
    <script src="js/index.js"></script>
</body>

</html>